body {
  background: #8c52FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#weather-container {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  height: 150px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: 200px;
}

h2,
label,
p {
  color: #fff;
  margin: 8px 0;
  ;
}

input {
  width: calc(100% -16px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 20px;
}

button {
  background: #debff4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
}

button:hover {

  background: #8b48d7;

}
#temp-div{
  font-size: 60px;
  margin-top: -30px;
}
#weather-info{
  font-size: 20px;
}
#weather-icon{
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

.hourly-item img{
width: 30px;
height: 30px;
margin-bottom: 5px;

}
#hourly-heading{
color: #fff;
margin-top: 10px;
}